# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/

# Database
vault.db

# Encryption Key
secret.key

# IDE Files
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env